[Unit]
Description=pajbot2-discord
After=network.target

[Service]
Type=simple
User=billy
ExecStart=/path/to/binary
RestartSec=5
Restart=always
Environment=PAJBOT2_DISCORD_BOT_TOKEN=
Environment=PAJBOT2_DISCORD_BOT_SQL_DSN="host=/var/run/postgresql database=pajbot2-discord"
Environment=PAJBOT2_DISCORD_BOT_TWITTER_CONSUMER_KEY=""
Environment=PAJBOT2_DISCORD_BOT_TWITTER_CONSUMER_SECRET=""
Environment=PAJBOT2_DISCORD_BOT_TWITTER_ACCESS_TOKEN=""
Environment=PAJBOT2_DISCORD_BOT_TWITTER_ACCESS_TOKEN_SECRET=""

[Install]
WantedBy=multi-user.target
